<form ng-submit="searchVideo(videoQuery)">
	<div class="form-group">
		<label for="searchVideoQuery">Search Videos</label>
		<input type="text" class="form-control" id="searchVideoQuery" ng-model="videoQuery" placeholder="Search Video" value="snsd">
	</div>
	<button type="submit" class="btn btn-default">Search</button>
</form>
<br />
<table class="table table-bordered table-hover" ng-if="videos.length > 0">
	<thead>
		<tr>
			<th style="width:20%;">Thumbnail</th>
			<th style="width:30%;">Title</th>
			<th style="width:30%;">Desc</th>			
			<th style="width:20%;">VideoId</th>			
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="video in videos">
			<td style="width:20%;"><img ng-src="{{video.snippet.thumbnails.medium.url}}" alt="{{video.id.videoId}}" 
			class="img-rounded" style="height:124px;width:220px;"></td>
			<td style="width:30%;">{{video.snippet.title}}</td>
			<td style="width:30%;">{{video.snippet.description}}</td>
			<td style="width:30%;">{{video.id.videoId}}</td>
		</tr>
	</tbody>
</table>

<div class="well" ng-if="videos.length === 0">
	Sorry no videos for <strong>{{videoQuery}}</strong> found
</div>